.task-container{
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}

.task-title{
    cursor: pointer;
}

.remove-task-button{
    background-color: #333;
    border: none;
    font-size: 16px;
    color: chartreuse;
    cursor: pointer;
    width: 25px;
    height: 25px;
    transition: all 0.3s ease;
}

.remove-task-button:hover{
    background-color: #666;
    transition: all 0.3s ease;
    color: black;
    font-weight: bold;
    background-color: chartreuse;
}