.task-container{
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}

.task-title{
    cursor: pointer;
}

.remove-task-button{
    background-color: #444;
    border: none;
    font-size: 16px;
    color: chartreuse;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 30px;
    border-radius: 15px;
}

.remove-task-button:hover{
    transition: all 0.3s ease;
    background-color: #555;
    color: darkred;
    font-weight: bold;
}